[Desktop Entry]
Version=0.17.6
Name=Afrigon Core
Comment=Connect to the Afrigon P2P Network
Exec=afgn-qt %u
Terminal=false
Type=Application
Icon=afgn128
MimeType=x-scheme-handler/afgn;
Categories=Network;
StartupWMClass=Afgn-qt
Name[en_US]=afgn-qt
