[Desktop Entry]
Version=0.17.6
Name=Afrigon Core Testnet
Comment=Connect to the Afrigon P2P Network Testnet
Exec=afgn-qt -testnet %u
Terminal=false
Type=Application
Icon=afgntestnet128
MimeType=x-scheme-handler/afgn;
Categories=Network;
StartupWMClass=Afgn-qt-testnet
Name[en_US]=afgn-qt-testnet
